<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>清华大学无线校园网 Tsinghua University Wireless Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="icon" href="static/img/favicon.png">
    <script src="static/js/vue.js"></script>
    <script src="static/js/login.js" defer></script>
  </head>

  <body>
    <!-- beginning of app -->
    <div id="login">
      <!-- header row -->
      <div id="header">
        <!-- wifi signal + '清华大学无线校园网' -->
        <div id="title">
          <img id="logo" src="static/img/login/logo.gif">
          <img id="tunet" src="static/img/login/title.png">
        </div>
        <!-- QR code -->
        <div id="follow">
          <img id="qr" src="static/img/login/qr.jpg"><br>
          欢迎关注“清华大学信息服务”
        </div>
        <!-- 'At Tsinghua' image -->
        <a href="http://mobileapp.tsinghua.edu.cn/">
          <img id="thu" src="static/img/login/attsinghua.png">
        </a>
      </div>
      <!-- middle content -->
      <div id="main">
        <!-- orange portion -->
        <div id="greeting">

          <img src="static/img/login/greeting.png">

          <div id="notification">
            <img src="static/img/login/notice.png">
            <div id="shadow-triangle"></div>
            <div id="speech-triangle"></div>
          </div>

        </div>
        <!-- login form -->
        <div id="form">
          <table id="credentials">
            <tr>
              <td class="label">
                <span>用户名</span><br>
                <span class="en">User ID</span>
              </td>
              <td>
                <input id="username" class="textbox" type="text">
              </td>
            </tr>
            <tr>
              <td class="label">
                <span>密码</span><br>
                <span class="en">Password</span>
              </td>
              <td>
                <input id="password" class="textbox" type="password">
              </td>
            </tr>
          </table>

          <button id="submit" onclick="connect()">
            连接<br>Connect
          </button>

          <div id="form-triangle"></div>
      
        </div>
      </div>

      <!-- client download + other links -->

      <div id="links">
        <div>
          <!-- client download links -->
          <img class="no-space" src="static/img/login/download.png">
          <div id="os">
            <a class="os-link" v-for="os in oss" :title="os.name">
              <img class="oslogo" :src="os.img">${os.name}
            </a>
          </div>
        </div>
        <!-- bookmark, help, contact links -->
        <div id="actions">
          <div class="action">
            <img class="action-logo" src="static/img/login/bookmark.gif">
            <a href="javascript:addBookmark('TUNet 无线网登录');">
              <span class="zh">收藏</span><br>
              <span class="en">Bookmark This Page</span>
            </a>
          </div>
          <div id="help" class="action">
            <img class="action-logo" src="static/img/login/help.gif">
            <a href="https://net.tsinghua.edu.cn/help/help.html">
              <span class="zh">帮助</span><br>
              <span class="en">Help</span>
            </a>
          </div>
          <div class="action">
            <img class="action-logo" src="static/img/login/contact.gif">
            <div>
              <span class="zh">联系</span><br>
              <span class="en">Contact</span>
            </div>
            <div id="contact">
              <span class="en">+86-10-62784859</span><br>
              <span class="en"><a href="mailto:its@tsinghua.edu.cn">its@tsinghua.edu.cn</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div id="footer">
        <span class="zh">清华大学信息化技术中心</span><br>
        <span class="en">Information Technology Center of Tsinghua University</span>
      </div>
    </div>

  </body>

</html>